<div class="container mt-5">
    <div class="card">
        <div class="card-header">
        User Details From Http server
        </div>
        <div class="card-body">

            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <th>User id</th>
                        <th>User name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of users">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>
                        
                    </tr>
                    
                </tbody>
            </table>
            <button (click)="getusersdetails()">Get Details</button>
        </div>
        
    </div>
</div>

