<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/course">Courses</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/coursecomp">Course Comp</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/databinding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/directive">Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/httppage">HTTP </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/observable">Observable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/observableoperator">Observable Operator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipe">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/postdata">Post Datas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/template">Teamplate Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reactive">Reactive Form</a>
          </li>

         
          
        </ul>
       
      </div>
    </div>
  </nav>




<!-- <app-coursecomponent></app-coursecomponent>
<app-databinding></app-databinding>
<app-login></app-login>
<app-directive></app-directive>
<app-pipe></app-pipe>
<app-courses></app-courses>
<app-httppage></app-httppage>
<app-learnobservable></app-learnobservable>
<app-observableoperator></app-observableoperator> -->
<router-outlet></router-outlet>
