<div class="container mt-3 ">
    <div class="card">
        <div class="card-header">
    <h1 appCustom>Pipes In Angular</h1>
    
        </div>
        <div class="card-body">
    <div align="center">
        <h3 style="color:fuchsia">Uppercase Pipe</h3>
        <h4 >Username is : {{username | uppercase | custom : gender}}</h4>
    </div>
    <div align="center">
        <h3 style="color:fuchsia">Lowercase Pipe</h3>
        <h4 >Address is : {{address | lowercase}}</h4>
    </div>
    <div align="center">
        <h3 style="color:fuchsia">Titlecase Pipe</h3>
        <h4 >Facility is : {{facility | titlecase}}</h4>
    </div>
    <div align="center">
        <h3 style="color:fuchsia">Slice Pipe</h3>
        <h4 >Hobbies are : {{hobbies | slice :1:4}}</h4>
    </div>
    <div align="center">
        <h3 style="color:fuchsia">Date Pipe</h3>
        <h4 >Date Of Joining is : {{dateofjoing | date : 'medium'}}</h4>
    </div>
    <div align="center">
        <h3 style="color:fuchsia">Currency Pipe</h3>
        <h4 >Salary is : {{salary | currency :'INR'}}</h4>
    </div>
    
    
        </div>
        
    </div>
    </div>
    
    